[packages]
google-cloud-bigquery = "==2.30.*"
matplotlib = "*"
streamlit-agraph = "*"
snowflake-connector-python = "*"
google-api-python-client = "*"
gsheetsdb = "*"
pyarrow = "*"
boto3 = "*"
websockets = ">=9.1"
cffi = "==1.14.6"
