folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1638560701663/work
fonttools==4.29.1
future==0.18.2
geeadd==0.5.5
geemap==0.11.1
geocoder==1.38.1
geographiclib==1.52
geojson==2.5.0
geopandas==0.10.2
geopy==2.2.0
streamlit==1.2
